{% extends "base.html" %}
{% block content %}

<h2>Contact Us</h2>

<form method="post" class="mt-3">
  {% csrf_token %}
  <div class="mb-2">
    <input class="form-control" type="text" name="name" placeholder="Your Name" required>
  </div>
  <div class="mb-2">
    <input class="form-control" type="email" name="email" placeholder="Your Email" required>
  </div>
  <div class="mb-2">
    <textarea class="form-control" name="message" placeholder="Message"></textarea>
  </div>
  <button class="btn btn-success">Send Message</button>
</form>

{% endblock %}